/*
Colors:
Dark - #0B0C10
Lighter - #1F2833
Gray - #C5C6C7
Bright blue - #66FCF1
Darker light blue - #45A29E
*/


h1 {
  font-size: 2.5em;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 1.5em;
  font-weight: bold;
  /* text-decoration:underline; */
}
h3 {
  font-size: 1em;
}
h4 {
  font-size: 0.8em;
  padding-top: 0.5em;
}

@media screen and (max-width: 615px) {
  h3 {
    font-size: 1em;
    width:200px;
  }
}

.titles {
  text-align: center;
  font-size: calc(1em + 0.5vw);
  font-weight: 800;
  padding-top: 3.5em;
  color: #ffff;
}



/* 
========================================================================================================================================
Navbar
========================================================================================================================================
*/

.navbar {
  background-color: #0B0C10;
  
}

/* Center the mobile collapse */
.navbar-expand-lg {
    display: flex!important;
    flex-basis: auto;
    justify-content: center; 
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Center the desktop nav menu without affecting collapse */
.navbar-expand-lg .navbar-collapse {
  justify-content: center;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  text-align: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #66FCF1;
}

.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.5);
  border-color: #66FCF1;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #66FCF1;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(102,252,241)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* 
========================================================================================================================================
Intro
========================================================================================================================================
*/

.intro-image {
  background-image: url("./assets/bg.jpg");
  background-color: #cccccc;
  height: 900px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.intro-text {
  text-align: left;
  display: inline;
  font-size: calc(1.0em + 0.8vw);
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translate(-10%, 40%);
  color: #0B0C10;
}

.btn {
  border: 2px solid transparent;
  margin-top: 0.5em;
}

.btn-outline-dark {
  color: #0B0C10;
  border-color: #0B0C10;
  font-size: 0.8em;
  font-weight: 600;
}

.btn-outline-dark:hover {
  background-color: #0B0C10;
}


/* 
========================================================================================================================================
About
========================================================================================================================================
*/

.about-image {
  background:linear-gradient(rgba(11,12,16, 0.5), rgba(11,12,16,0.5)) , url("./assets/about-bg.jpg");
  background-color: #cccccc;
  height: 900px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-bottom: 0.2px #cccccc solid;
  border-top: 0.2px #cccccc solid;
}

.about-text {
  text-align: center;
  font-size: 1em;
  position: absolute;
  color: #bbbbbb;
}

/* If the screen size is 601px wide or more*/
@media screen and (min-width: 715px) {
  .about-text {
    line-height: 40px;
    word-spacing: 10%;
    top: 35%;
    left: 25%;
    transform: translate(-15%, -10%);
  }
}

/* If the screen size is 1470px wide or more*/
@media screen and (min-width: 1300px) {
  .about-text {
    line-height: 40px;
    word-spacing: 10%;
    top: 35%;
    left: 48%;
    transform: translate(-45%, -10%);
  }
}

/* If the screen size is 714px wide or less */
@media screen and (max-width: 714px) {
  .about-text {
    line-height: 30px;
    word-spacing: 10%;
    top: 30%;
    left: 15%;
    transform: translate(-10%, -10%);
  }

}

/* 
========================================================================================================================================
Resume
========================================================================================================================================
*/

.resume-image {
  background: linear-gradient(rgba(11,12,16, 0.4), rgba(11,12,16,0.4)) , url("./assets/gg.jpg");
  /* height: 900px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: left;
  color: white;
  border-bottom: 0.2px #cccccc solid;
}

.resume-container {
  padding-top: 5em;
}

.resume-container h5 {
  padding-bottom: 0.5em;
  font-weight: bold;
}

.resume-container h4 {
  color: #66FCF1;
}

.resume-container p {
  color: #a7a7a7;
}

.resume-container.last {
  padding-bottom: 5em;
}



/* 
========================================================================================================================================
Portfolio
========================================================================================================================================
*/

.resume-image.portfolio {
  color: #0B0C10;
  border-bottom: 0.2px #cccccc solid;
}

.card-deck .card {
  margin-bottom: 2em;
}

.card-deck {
  margin-top: 5em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 5em;
  display: grid;
  
  grid-gap: 1rem;
}



@media screen and (min-width: 715px) {
  .card-deck {
    grid-template-columns: 1fr 1fr;
    margin-left: 8em;
    margin-right: 8em;
  }
}

@media screen and (min-width: 1300px) {
  .card-deck {
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 12em;
    margin-right: 12em;
    grid-gap: 3rem;
  }
}

@media screen and (max-width: 71px) {
  .card-deck {
    grid-template-columns: 1fr;
  }
}
