/*
Colors:
Dark - #0B0C10
Lighter - #1F2833
Gray - #C5C6C7
Bright blue - #66FCF1
Darker light blue - #45A29E
*/

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html {
  background-color: black;
}

h1 {
  font-size: 2.5em;
  font-weight: 400;
  /* color: #00ffee; */
}
h2 {
  font-size: 1.5em;
  font-weight: bold;
  /* text-decoration:underline; */
}
h3 {
  font-size: 1em;
}
h4 {
  font-size: 0.8em;
  padding-top: 0.5em;
}

@media screen and (max-width: 615px) {
  h3 {
    font-size: 1em;
    width:200px;
  }
}

.titles {
  text-align: center;
  font-size: calc(1em + 0.5vw);
  font-weight: 800;
  padding-top: 3.5em;
  color: #ffff;
}

.bg-image {
  background-color: #cccccc;
  height: 900px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#tsparticles {
  width: 100%;
  height: 100%;
}

/* 
========================================================================================================================================
Navbar
========================================================================================================================================
*/

.navbar {
  background-color: #0B0C10;
  
}

/* Center the mobile collapse */
.navbar-expand-lg {
    display: flex!important;
    flex-basis: auto;
    justify-content: center; 
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Center the desktop nav menu without affecting collapse */
.navbar-expand-lg .navbar-collapse {
  justify-content: center;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  text-align: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #66FCF1;
}

.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.5);
  border-color: #66FCF1;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #66FCF1;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(102,252,241)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* 
========================================================================================================================================
Intro
========================================================================================================================================
*/

.bg-image.intro {
  background-image: url("./assets/intro.jpg");
}

.intro-text {
  text-align: left;
  display: inline;
  font-size: calc(1.0em + 0.8vw);
  position: absolute;
  top: 28%;
  left: 10%;
  transform: translate(-10%, 40%);
  color: #0B0C10;
}

.intro-text h1 {
  color: #0B0C10;
  font-family: 'Permanent Marker', cursive;
}

.btn {
  border: 2px solid transparent;
  margin-top: 0.5em;
  width: 10.7em;
}

.dl {
  display: block;
}

.btn-outline-dark {
  color: #0B0C10;
  border-color: #0B0C10;
  font-size: 0.8em;
  font-weight: 600;
}

.btn-outline-dark:hover {
  background-color: #0B0C10;
}

@media screen and (max-width: 640px) {
  .intro-text {
    top: 30%;
    width: 100vw;
    font-size: 1em;
    display: block;
    left: 15%;
  }
/* 
  .btn {
    margin-left: 5em;
  } */

}

/* 
========================================================================================================================================
About
========================================================================================================================================
*/

.bg-image.about {
  background: linear-gradient(rgba(0,0,0, 0.85), rgba(0,0,0, 0.85)) , url("./assets/about.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: left;
  color: white;
  border-bottom: 0.1px #0B0C10 solid;
  border-top: 0.1px #0B0C10 solid;
}


.about-text {
  text-align: center;
  font-size: 1em;
  position: absolute;
  color: #cccccc;
}

/* If the screen size is 601px wide or more*/
@media screen and (min-width: 869px) {
  .about-text {
    line-height: 40px;
    word-spacing: 10%;
    top: 35%;
    left: 25%;
    transform: translate(-15%, -10%);
  }
}

/* If the screen size is 1470px wide or more*/
@media screen and (min-width: 1300px) {
  .about-text {
    line-height: 40px;
    word-spacing: 10%;
    top: 35%;
    left: 48%;
    transform: translate(-45%, -10%);
  }
}

/* If the screen size is 714px wide or less */
@media screen and (max-width: 870px) {
  .about-text {
    font-size: 0.8em;
    line-height: 30px;
    word-spacing: 10%;
    top: 25%;
    left: 15%;
    transform: translate(-10%, -10%);
  }

}

/* 
========================================================================================================================================
Resume
========================================================================================================================================
*/

.resume-image {
  background: linear-gradient(rgba(0,0,0, 0.85), rgba(0,0,0, 0.85)) , url("./assets/rest.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: left;
  color: white;
  border-bottom: 0.1px #0B0C10 solid;
}

.resume-container {
  padding-top: 5em;
}

.resume-container h2 {
  color: #8efff7;
}

.resume-container h5 {
  padding-bottom: 0.5em;
  font-weight: bold;
}

.resume-container p {
  color: #cccccc;
}

.resume-container.last {
  padding-bottom: 5em;
}

@media screen and (max-width: 870px) {
  .resume-container h2 {
    font-size: 1.2em;
  }

  .resume-container h5 {
    font-size: 1em;
  }

  .resume-container p {
    font-size: 0.9em;
  }

  .resume-container {
    padding-top: 2em;
  }

}



/* 
========================================================================================================================================
Portfolio
========================================================================================================================================
*/

/* LOADER */

.ball {
  height: 20px;
  width: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
}
.ball:before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: #00e6d6;
  border-radius: 50%;
  position: absolute;
  margin-left: -50%;
  margin-top: -50%;
}

.ball-1:before {
  transform: translateX(-150%);
  animation: 1s ease-out 0s infinite left;
}
.ball-2:before {
  transform: translateX(-50%);
}
.ball-3:before {
  transform: translateX(50%);
}
.ball-4:before {
  transform: translateX(150%);
  animation: 1s ease-out 0s infinite right;
}

@keyframes left {
  25% {
    transform: translateX(-250%);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateX(-150%);
  }
}

@keyframes right {
  50% {
    transform: translateX(150%);
  }
  75% {
    transform: translateX(250%);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(150%);
  }
}

.spinner {
  margin-top: 30%;
}

/* Cards */

.resume-image.portfolio {
  background: linear-gradient(rgba(0,0,0, 0.9), rgba(0,0,0, 0.9)) , url("./assets/rest.jpg");
  color: #0B0C10;
  min-height: 900px;
}

.card-deck {
  margin-top: 5em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 5em;
  display: grid;
  
  grid-gap: 1rem;
}

.card {
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

.btn-ekstra {
  width: 10em;
  font-size: 0.9em;
  margin-top: 15%;
}

@media screen and (min-width: 715px) {
  .card-deck {
    grid-template-columns: 1fr 1fr;
    margin-left: 4em;
    margin-right: 4em;
  }
}

@media screen and (min-width: 1300px) {
  .card-deck {
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 6em;
    margin-right: 6em;
    grid-gap: 3rem;
  }
}

@media screen and (min-width: 1600px) {
  .card-deck {
    margin-left: 12em;
    margin-right: 12em;
  }
}

@media screen and (max-width: 714px) {
  .card-deck {
    grid-template-columns: 1fr;
  }
}

/*
========================================================================================================================================
JOKES
========================================================================================================================================
*/

@media screen and (max-width: 714px) {
  .carousel.slide {
    padding-top: 15%;
  }
  
  .carousel-control-prev {
    padding-top: 15%;
  }
  
  .carousel-control-next {
    padding-top: 15%;
  }
}

.carousel-indicators {
  display: none;
}



.jokes {
  height: 300px;
  width: 100%;
  background-color: black;
  color: #cccccc;
  padding: 7%;
}

.jokesText {
  text-align: center;
  margin-bottom: 6%;
}

.vraag {
  font-size: 1em;
  font-weight: bold;
}


/*
========================================================================================================================================
News
========================================================================================================================================
*/

.news {
  background-color: black;
}

.titles.newsh1{
  padding-top: 1.5em;
}

.newsContainer {
  padding-bottom: 3.5em;
}